# Ignore .env files
*.env

# Ignore __pycache__ directories
__pycache__/

# Ignore Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Ignore .ipynb files (if you don't want them in the image)
*.ipynb

# Ignore metadata directories created by Python packaging
setup_files.egg-info/

# Ignore setup.py (if you don't want it in the image)
setup.py

# Ignore specific test files
test.py
