streamlit
faiss-cpu
langchain
openai
PyPDF2
langchain_openai
langchain_community
python-dotenv
# pytesseract
# fitz
# frontend
# tools
# PyMuPDF

# AZURE_OPENAI_API_KEY = key
# AZURE_OPENAI_ENDPOINT = https://instance.openai.azure.com/
# AZURE_OPENAI_API_VERSION = 2023-07-01-preview
# AZURE_OPENAI_API_TYPE = azure


# OPENAI_API_KEY = key
# OPENAI_ENDPOINT = https://instance.openai.azure.com/
# OPENAI_API_TYPE = azure
# OPENAI_API_VERSION = 2023-07-01-preview